<div class="b-page-3">
    <div class="b-page-3__header hideOpacity b-page-3--animate js__animate"  data-animate-delay="600" data-animate-class="bounceInUp">
        <h1>
            Как бы вы хотели<br> провести день?
        </h1>
    </div>
    <div class="b-page-3__select">
        <div class="b-page__select-day--1 hideOpacity mr2-5 b-page--animate js__animate"  data-animate-delay="900" data-animate-class="bounceInUp">
            <input type="radio" name="radio" class="checkbox _dispNon radio-page-3" (change)="changeEvent($event)" id="select-stay-child" value="Провести время с детьми">
            <label for="select-stay-child" class="radio b-page__select-day">
                <div class="verMiddle">
                    <div class="b-page__select-day--align">
                        <div class="b-page__day-icon">
                            <svg class="b-page__day--child-svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/img/svg-sprite/svg.svg#day-with-children"></use>
                            </svg>
                        </div>
                        <div class="b-page__day-checkbox">
                            <svg class="b-page__day--checkbox-svg checkedIconHide checkbox">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/img/svg-sprite/svg.svg#checkbox"></use>
                            </svg>
                            <svg class="b-page--checkbox-checked-svg checkedIconShow">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/img/svg-sprite/svg.svg#checkbox-checked"></use>
                            </svg>
                        </div>
                        <div class="b-page__day-title">
                            <h3>
                                Провести время<br> с детьми
                            </h3>
                        </div>
                    </div>
                </div>
            </label>
        </div>

        <div class="b-page__select-day--2 hideOpacity mr2-5 b-page--animate js__animate" data-animate-delay="1100" data-animate-class="bounceInUp">
            <input type="radio" name="radio" class="checkbox _dispNon radio-page-3" (change)="changeEvent($event)" id="select-party" value="Пойти развлечься">

            <label class="radio b-page__select-day" for="select-party">
                <div class="verMiddle">
                    <div class="b-page__select-day--align">
                        <div class="b-page__day-icon">
                            <svg class="b-page__day--party-svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/img/svg-sprite/svg.svg#day-party"></use>
                            </svg>
                        </div>
                        <div class="b-page__day-checkbox">
                            <svg class="b-page__day--checkbox-svg checkedIconHide checkbox">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/img/svg-sprite/svg.svg#checkbox"></use>
                            </svg>
                            <svg class="b-page--checkbox-checked-svg checkedIconShow">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/img/svg-sprite/svg.svg#checkbox-checked"></use>
                            </svg>
                        </div>
                        <div class="b-page__day-title">
                            <h3>
                                Пойти<br> развлечься
                            </h3>
                        </div>
                    </div>
                </div>
            </label>
        </div>

        <div class="b-page__select-day--3 hideOpacity mr2-5 b-page--animate js__animate" data-animate-delay="1300" data-animate-class="bounceInUp">
            <input type="radio" name="radio" class="checkbox _dispNon radio-page-3" (change)="changeEvent($event)" id="select-stay-home" value="Остаться дома">
            <label class="radio b-page__select-day" for="select-stay-home">
                <div class="verMiddle">
                    <div class="b-page__select-day--align">
                        <div class="b-page__day-icon">
                            <svg class="b-page__day--home-svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/img/svg-sprite/svg.svg#day-home"></use>
                            </svg>
                        </div>
                        <div class="b-page__day-checkbox">
                            <svg class="b-page__day--checkbox-svg checkedIconHide checkbox">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/img/svg-sprite/svg.svg#checkbox"></use>
                            </svg>
                            <svg class="b-page--checkbox-checked-svg checkedIconShow">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/img/svg-sprite/svg.svg#checkbox-checked"></use>
                            </svg>
                        </div>
                        <div class="b-page__day-title">
                            <h3>
                                Остаться дома
                            </h3>
                        </div>
                    </div>
                </div>
            </label>
        </div>
    </div>
</div>