
.b-page-3--animate {
  position: relative
  transition all 600ms ease-out
}

.b-page-3 {
  text-align: center
//padding-top: 9em;
}

.b-page-3__select {
  margin-top: 5.4em;
}

.b-page-3__header {
  line-height: 4.769em;
  h1 {
    font-size: 4.615em;
    font-weight: 700;
  }
}

.b-page__select-day {
  width: 19.077em
  height 19.615em
  border 1px dashed #8eb3d1
  display: inline-block
  transition all 400ms ease-in
  vertical-align: top

  &:hover {
    background-color: #fa9114
    transform scale(1.1)
    border none
    .b-page__day--checkbox-svg {
      transform: rotate(360deg);
    }
  }
}

.b-page__day-title {
  font-weight: 300;
  line-height: 2.2em;
  h3 {
    font-size: 1.923em;
  }
}


.b-page__day--child-svg {
  width: 6.769em;
  height: 7.846em;
}

.b-page__day--party-svg {
  height: 8em;
  width: 15em;
}

.b-page__day--home-svg {
  width: 10.923em;
  height: 5.846em;
}

