
.b-page-5 {
  text-align: center
//padding-top: 16.7em
}

.b-page__select-mood {
  width: 12.308em
  height 17.692em
  border 1px dashed #8eb3d1
  display: inline-block
  transition all 400ms ease-in
  &:hover {
    background-color: #fa9114
    transform scale(1.1)
    border none
    .b-page__day--checkbox-svg {
      transform: rotate(360deg);
    }
  }
}

.b-page-5__header {
  line-height: 4.615em;
  h2 {
    font-size: 3.846em;
    font-weight: 700;
  }
}

.b-page-5__mood-title {
  line-height: 3em;
  h3 {
    font-size: 1.923em;
    font-weight: 300;
    margin: 0
  }
}

.b-page__mood-svg {
  width: 6.231em;
  height: 6.231em;

}

.b-page-5__select {
  margin-top: 2.6em;
}