<div class="b-page-5">
    <div data-animate-delay="600" data-animate-class="bounceInUp" class="b-page-5__header hideOpacity b-page-5--animate js__animate">
        <h2>
            Ваше настроение сейчас
        </h2>
    </div>
    <div class="b-page-5__select">
        <div data-animate-delay="900" data-animate-class="bounceInUp" class="mr2-5 b-page__select-mood--1 hideOpacity b-page--animate js__animate">
            <input (change)="changeEvent($event)" type="radio" name="radio" class="checkbox _dispNon radio-page--5" id="select-mood-good"
                   value="Хорошее">
            <label class="radio b-page__select-mood" for="select-mood-good">
                <div class="verMiddle">
                    <div class="b-page__select-day--align">
                        <div class="b-page__day-icon">
                            <svg class="b-page__mood-svg">
                                <use xlink:href="../assets/img/svg-sprite/svg.svg#mood-good"/>
                            </svg>
                        </div>
                        <div class="b-page__day-checkbox">
                            <svg class="b-page__day--checkbox-svg checkedIconHide checkbox">
                                <use xlink:href="../assets/img/svg-sprite/svg.svg#checkbox"/>
                            </svg>
                            <svg class="b-page--checkbox-checked-svg checkedIconShow">
                                <use xlink:href="../assets/img/svg-sprite/svg.svg#checkbox-checked"/>
                            </svg>
                        </div>
                        <div class="b-page-5__mood-title">
                            <h3>
                                Хорошее
                            </h3>
                        </div>
                    </div>
                </div>
            </label>
        </div>
        <div data-animate-delay="1100" data-animate-class="bounceInUp" class="mr2-5 b-page__select-mood--2 hideOpacity b-page--animate js__animate">
            <input (change)="changeEvent($event)" type="radio" name="radio" class="checkbox _dispNon radio-page--5" id="select-mood-super"
                   value="Супер">
            <label class="radio b-page__select-mood" for="select-mood-super">
                <div class="verMiddle">
                    <div class="b-page__select-day--align">
                        <div class="b-page__day-icon">
                            <svg class="b-page__mood-svg">
                                <use xlink:href="../assets/img/svg-sprite/svg.svg#mood-super"/>
                            </svg>
                        </div>
                        <div class="b-page__day-checkbox">
                            <svg class="b-page__day--checkbox-svg checkedIconHide checkbox">
                                <use xlink:href="../assets/img/svg-sprite/svg.svg#checkbox"/>
                            </svg>
                            <svg class="b-page--checkbox-checked-svg checkedIconShow">
                                <use xlink:href="../assets/img/svg-sprite/svg.svg#checkbox-checked"/>
                            </svg>
                        </div>
                        <div class="b-page-5__mood-title">
                            <h3>
                                Супер!
                            </h3>
                        </div>
                    </div>
                </div>
            </label>
        </div>
        <div data-animate-delay="1300" data-animate-class="bounceInUp" class="mr2-5  b-page__select-mood--3 hideOpacity b-page--animate js__animate">
            <input (change)="changeEvent($event)" type="radio" name="radio" class="checkbox _dispNon radio-page--5" id="select-mood-bad"
                   value="Не очень">
            <label class="radio b-page__select-mood" for="select-mood-bad">
                <div class="verMiddle">
                    <div class="b-page__select-day--align">
                        <div class="b-page__day-icon">
                            <svg class="b-page__mood-svg">
                                <use xlink:href="../assets/img/svg-sprite/svg.svg#mood-bad"/>
                            </svg>
                        </div>
                        <div class="b-page__day-checkbox">
                            <svg class="b-page__day--checkbox-svg checkedIconHide checkbox">
                                <use xlink:href="../assets/img/svg-sprite/svg.svg#checkbox"/>
                            </svg>
                            <svg class="b-page--checkbox-checked-svg checkedIconShow">
                                <use xlink:href="../assets/img/svg-sprite/svg.svg#checkbox-checked"/>
                            </svg>
                        </div>
                        <div class="b-page-5__mood-title">
                            <h3>
                                Не очень
                            </h3>
                        </div>
                    </div>

                </div>
            </label>
        </div>


    </div>
</div>