.b-page-2{
  text-align: center
}
.b-pointer-svg {
  width: 4.923em;
  height: 7em;
}
.b-page-2__header {
  font-weight: 700;
  line-height: 3.538em;
  h1 {
    font-size: 4.615em;
    margin: 0.35em 0
  }
}

.b-page-2__select {
  margin: 2.3em auto 4em;
  display: inline-block
  width: 30em
}