<header>
    <div class="logo-linex logo">
        <a href="">
            <svg class="linex-svg">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#linex"/>
            </svg>
        </a>
    </div>
    <div class="logo-afisha logo">
        <a href="">
            <svg class="afisha-svg">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#afisha"/>
            </svg>
            <span>
				СПЕЦПРОЕКТ
			</span>
        </a>
    </div>

</header>
<div class="b-background__shine"></div>
<main>
    <div class="b-background__top" id="b-background">
        <div data-animate-delay="500" data-animate-class="bounceIn" class="js__animate b-fibonachi hide icon-svg ">
            <svg class="orange-svg fibonachi-svg layer" data-depth="0.20">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#fibonachi"/>
            </svg>
        </div>
        <div data-animate-delay="500" data-animate-class="bounceIn" class="js__animate b-film icon-svg hide ">
            <svg class="white-svg film-svg layer" data-depth="0.40">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-1"/>
            </svg>
        </div>
        <div data-animate-delay="800" data-animate-class="bounceIn" class="js__animate b-negative icon-svg hide ">
            <svg class="white-svg negative-svg layer" data-depth="0.60">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-3"/>
            </svg>
        </div>
        <div data-animate-delay="1100" data-animate-class="bounceIn" class="js__animate b-masks icon-svg hide">
            <svg class="white-svg masks-svg layer" data-depth="0.60">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-5"/>
            </svg>
        </div>
        <div data-animate-delay="950" data-animate-class="bounceIn" class="js__animate b-popcorn icon-svg hide">
            <svg class="white-svg popcorn-svg layer" data-depth="0.60">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-4"/>
            </svg>
        </div>
        <div data-animate-delay="1250" data-animate-class="bounceIn" class="js__animate b-microphone icon-svg hide">
            <svg class="white-svg microphone-svg phone layer" data-depth="0.40">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-6"/>
            </svg>
        </div>
        <div data-animate-delay="1550" data-animate-class="bounceIn" class="js__animate b-double icon-svg hide">
            <svg class="white-svg double-svg layer" data-depth="0.80">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-9"/>
            </svg>
        </div>
        <div data-animate-delay="1400" data-animate-class="bounceIn" class="js__animate b-theater icon-svg hide">
            <svg class="white-svg theater-svg layer" data-depth="0.20">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-7"/>
            </svg>
        </div>
        <div data-animate-delay="1700" data-animate-class="bounceIn" class="js__animate b-camera icon-svg hide">
            <svg class="white-svg camera-svg layer" data-depth="0.30">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-8"/>
            </svg>
        </div>
        <div data-animate-delay="1850" data-animate-class="bounceIn" class="js__animate b-note icon-svg hide">
            <svg class="white-svg note-svg layer" data-depth="0.20">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-10"/>
            </svg>
        </div>
        <div data-animate-delay="2000" data-animate-class="bounceIn" class="js__animate b-star-two-line icon-svg hide">
            <svg class="orange-svg star-two-line-svg layer" data-depth="0.40">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-11"/>
            </svg>
        </div>
        <div data-animate-delay="1550" data-animate-class="bounceIn" class="js__animate b-play-pause icon-svg hide">
            <svg class="white-svg play-pause-svg layer" data-depth="0.50">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-12"/>
            </svg>
        </div>
        <div data-animate-delay="2150" data-animate-class="bounceIn" class="js__animate b-picture-wall icon-svg hide">
            <svg class="white-svg picture-wall-svg layer" data-depth="0.10">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-13"/>
            </svg>
        </div>
        <div data-animate-delay="2300" data-animate-class="bounceIn" class="js__animate b-wineglass icon-svg hide">
            <svg class="white-svg wineglass-svg layer" data-depth="0.10">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-14"/>
            </svg>
        </div>
        <div data-animate-delay="1000" data-animate-class="bounceIn" class="js__animate b-triangle b-triangle-1 hide icon-svg">
            <svg class="white-svg triangle-svg triangle-svg-1 layer" data-depth="0.70">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#triangle"/>
            </svg>
        </div>
        <div data-animate-delay="1000" data-animate-class="bounceIn" class="js__animate b-triangle b-triangle-2 hide icon-svg">
            <svg class="white-svg triangle-svg triangle-svg-2 layer" data-depth="0.60">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#triangle"/>
            </svg>
        </div>
        <div data-animate-delay="1000" data-animate-class="bounceIn" class="js__animate b-triangle b-triangle-3 hide icon-svg">
            <svg class="white-svg triangle-svg triangle-svg-3 layer" data-depth="0.30">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#triangle"/>
            </svg>
        </div>
        <div data-animate-delay="1000" data-animate-class="bounceIn" class="js__animate b-triangle b-triangle-4 hide icon-svg">
            <svg class="orange-svg triangle-svg triangle-svg-4 layer" data-depth="0.60">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#triangle"/>
            </svg>
        </div>
        <div data-animate-delay="900" data-animate-class="bounceIn" class="js__animate b-heart icon-svg hide">
            <svg class="orange-svg heart-svg layer" data-depth="0.60">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-heart"/>
            </svg>
        </div>
        <div data-animate-delay="1300" data-animate-class="bounceIn" class="js__animate b-star b-star-1 hide icon-svg">
            <svg class="white-svg star-svg star-svg-1 layer" data-depth="0.30">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-star-white"/>
            </svg>
        </div>
        <div data-animate-delay="1300" data-animate-class="bounceIn" class="js__animate b-star b-star-2 hide icon-svg b-star-2--active">
            <svg class="orange-svg star-svg star-svg-2 layer" data-depth="0.10">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-star-orange"/>
            </svg>
        </div>
        <div data-animate-delay="1300" data-animate-class="bounceIn" class="js__animate b-star b-star-3 hide icon-svg">
            <svg class="orange-svg star-svg star-svg-3 layer" data-depth="0.70">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-star-orange"/>
            </svg>
        </div>
        <div data-animate-delay="1300" data-animate-class="bounceIn" class="js__animate b-star b-star-4 hide icon-svg">
            <svg class="orange-svg star-svg star-svg-4 layer" data-depth="0.40">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-star-orange"/>
            </svg>
        </div>
        <div data-animate-delay="1300" data-animate-class="bounceIn" class="js__animate b-star b-star-5 hide icon-svg">
            <svg class="orange-svg star-svg star-svg-5 layer" data-depth="0.20">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-star-white"/>
            </svg>
        </div>
        <div data-animate-delay="1300" data-animate-class="bounceIn" class="js__animate b-star b-star-6 hide icon-svg">
            <svg class="white-svg star-svg star-svg-6 layer" data-depth="0.90">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-star-white"/>
            </svg>
        </div>
        <div data-animate-delay="1300" data-animate-class="bounceIn" class="js__animate b-star b-star-7 hide icon-svg">
            <svg class="white-svg star-svg star-svg-7 layer" data-depth="0.80">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-star-white"/>
            </svg>
        </div>
        <div data-animate-delay="1300" data-animate-class="bounceIn" class="js__animate b-star b-star-8 hide icon-svg">
            <svg class="orange-svg star-svg star-svg-3 layer" data-depth="0.40">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-star-orange"/>
            </svg>
        </div>
        <div data-animate-delay="1300" data-animate-class="bounceIn" class="js__animate b-twist b-twist-1 hide icon-svg">
            <svg class="white-svg twist-svg layer" data-depth="0.60">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-twist"/>
            </svg>
        </div>
        <div data-animate-delay="1300" data-animate-class="bounceIn" class="js__animate b-twist b-twist-2 hide icon-svg">
            <svg class="white-svg twist-svg layer" data-depth="0.60">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#elem-twist"/>
            </svg>
        </div>
        <div data-animate-delay="2600" data-animate-class="clockRotate" class="js__animate b-clock icon-svg hide">
            <div class="layer" data-depth="0.40">
                <div class="b-clock__hour js__animate" data-animate-delay="4000" data-animate-class="b-clock__hour__active"></div>
                <div class="b-clock__minutes js__animate" data-animate-delay="4000" data-animate-class="b-clock__minutes__active"></div>
                <svg class="white-svg clock-svg">
                    <use xlink:href="../assets/img/svg-sprite/svg.svg#clock"/>
                </svg>
            </div>
        </div>
        <div data-animate-delay="2000" data-animate-class="bounceIn" class="js__animate b-star-heart-dot icon-svg hide">
            <svg class="white-svg star-heart-dot-svg layer" data-depth="0.60">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#star-heart-dot"/>
            </svg>
        </div>
        <div data-animate-delay="2450" data-animate-class="bounceIn" class="js__animate b-film-mod icon-svg hide">
            <svg class="white-svg film-mod-svg layer" data-depth="0.60">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#film-mod"/>
            </svg>
        </div>
        <div data-animate-delay="1300" data-animate-class="bounceIn" class="js__animate b-heart-triangle hide icon-svg">
            <svg class="white-svg heart-triangle-svg layer" data-depth="0.60">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#heart-triangle"/>
            </svg>
        </div>
        <div data-animate-delay="650" data-animate-class="bounceIn" class="js__animate b-glass icon-svg hide">
            <svg class="white-svg glass-svg layer" data-depth="0.60">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#glas"/>
            </svg>
        </div>
        <div data-animate-delay="1800" data-animate-class="bounceIn" class="js__animate b-doted hide icon-svg">
            <svg class="white-svg dotteds-svg">
                <use xlink:href="../assets/img/svg-sprite/svg.svg#dotteds"/>
            </svg>
        </div>
    </div>
    <div class="b-content">
        <div class="b-content-main">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>

<footer>

</footer>
