<div class="b-page-1 ">
    <div class="b-main__header hideOpacity b-main--topHide js__animate" data-animate-delay="1000" data-animate-class="bounceInUp" >
        <h1>
            Сбалансируйте свой день
        </h1>
    </div>
    <div class="b-main__text hideOpacity b-main--topHide js__animate" data-animate-delay="1300" data-animate-class="bounceInUp" >
        <p>
            Каждый день наполнен суетой, которая не оставляет времени на развлечения. Мы предлагаем вам
            удобный способ найти баланс. Выберите, как вы хотите провести ваш досуг, а мы идеально
            сбалансируем сценарий дня.
        </p>
    </div>
    <div class="b-main__button hideOpacity b-main--topHide js__animate" data-animate-delay="1600" data-animate-class="bounceInUp" >
        <a routerLink="/city" routerLinkActive="active" class="btn main-page-btn">
            <span>Начать</span>
        </a>
    </div>
</div>