.b-page-1 {
  width: 61.154em
  margin-left: 10.7em;
  padding-top: 13em
}
.b-main__header {
  font-weight: 400;
  line-height: 5.615em;
  
  h1 {
    font-size: 4.923em;
    margin: 0
  }
}

.b-main__text {
  line-height: 2.615em;
  p {
    font-size: 1.846em;
  }
}

.btn {
  width: 14.154em;
  height: 4.308em;
  background-color: #fa9114;
  line-height: 2.846em;
  font-weight: 300;
  border none
  &:hover {
    background-color: #f78600
  }
  span {
    font-size: 1.846em;
  }
}