<div class="b-page-4">
    <div data-animate-delay="600" data-animate-class="bounceInUp" class="js__animate b-page-4__header hideOpacity b-page--animate">
        <h2>
            Выберите день когда<br> хотите этим заняться
        </h2>
    </div>
    <div class="b-mobile__date">
        <div class="b-mobile__date-item b-mobile__date--calendar verMiddle" data-date="">
            <h2>
                Выбрать время
            </h2>
        </div>
        <div class="b-mobile__date-item b-mobile__date--time verMiddle" data-time="">
            <h2>Выбрать день</h2>
        </div>
        <div class="btn-mobile bnt-disabled">
            <button class="btn b-mobile__date--btn">
                <span>Далее</span>
            </button>
        </div>

    </div>
    <div data-animate-delay="900" data-animate-class="bounceInUp" id="datepicker" class="js__animate b-page--animate"></div>
    <div class="b-time__wrapper">
        <div data-animate-delay="1100" data-animate-class="bounceInUp" class="js__animate b-time__button b-main--topHide hideOpacity">
            <a routerLinkActive="active" routerLink="/mood"  class="btn time-btn margin_auto">
                <span>Начать</span>
            </a>
        </div>
        <div data-animate-delay="1300" data-animate-class="bounceInUp" class="js__animate b-time__button--mobile b-main--topHide">
            <a routerLinkActive="active" routerLink="/mood" class="btn time-btn--mobile ">
                <span>Выбрать</span>
            </a>
        </div>
    </div>
</div>