/* You can add global styles to this file, and also import other style files */
@import "/base-style/libs/animatecss";
@import "/base-style/_normalize";
@import "/base-style/styles";
app-root {
	display: block
	box-sizing border-box
	height: 100%
}
